extends layout

block frontPage

    img(src=`${info.src}` class="img-background")
    div(class="info-container")
        h1= info.fullname
        h1 Ranking: #{ info.rank }
        h1 Points: #{ info.points }

block men_table
    each data, i in tableATP
        tr 
            td= i + 1
            td= data.name
            td= data.points
            td= data.pro_since 
            td= data.height
            td= data.match_record
            td= data.titles

block women_table
    each data, i in tableWTA
        tr 
            td= i + 1
            td= data.name
            td= data.points
            td= data.pro_since 
            td= data.height
            td= data.match_record
            td= data.titles           

block tournaments
    each tournament of tournaments
        div(class="tournament-list-element")
            h2= tournament.competition_name
            p
            strong= tournament.competition_level
