extends layout

block frontPage
    img(src=`${info.src}` class="img-background")
    div(class="info-container")
        h1= info.name
        h1 Ranking: #{ info.rank }
        h1 Points: #{ info.points }

block men_table
    each data, i in tableATP
        tr 
            td= data.value.rank
            td= data.name
            td= data.value.points
            td= data.value.pro_since 
            td= data.value.height
            td= data.value.record
            td= data.value.titles

block women_table
    each data, i in tableWTA
        tr 
            td= data.value.rank
            td= data.name
            td= data.value.points
            td= data.value.pro_since 
            td= data.value.height
            td= data.value.record
            td= data.value.titles           

block tournaments
    each tournament of tournaments
        div(class="tournament-list-element")
            h2= tournament.competition_name
            p
            strong= tournament.competition_level
